In [1]:
!pip install pymongo
!pip install pymongo[srv]
!pip3 install dnspython

Requirement already satisfied: pymongo in c:\users\acer\anaconda3\lib\site-packages (4.0.1)
Requirement already satisfied: pymongo[srv] in c:\users\acer\anaconda3\lib\site-packages (4.0.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\acer\anaconda3\lib\site-packages (from pymongo[srv]) (2.2.0)
Requirement already satisfied: dnspython in c:\users\acer\anaconda3\lib\site-packages (2.2.0)

In [6]:
import pymongo
import datetime
import json
from pymongo import MongoClient, InsertOne

In [7]:
client= pymongo.MongoClient("mongodb+srv://mchu:123qwe@cluster0.uzirv.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

In [8]:
client.list_database_names()

['student', 'admin', 'local']

In [9]:
mycol=db["TELEPHONE DIRECTORY"]

In [10]:
#### CREATE DATABASE AND INSERT COLLECTION

In [19]:
mydict=[{'NAME':'GEORGE',
         'PHONE':'9876543210',
        'PLACE':'AMBOOR'},
       {'NAME':'PHILIP',
         'PHONE':'8765432109',
        'PLACE':'THANOOR'},
        {'NAME':'CHRIS',
         'PHONE':'7654321098',
        'PLACE':'PAMPOOR'},
         {'NAME':'ADITH',
         'PHONE':'6543210987',
        'PLACE':'MADGAV'},
          {'NAME':'ROHIT',
         'PHONE':'5432109876',
        'PLACE':'GURUGAV'},
           {'NAME':'AJAY',
         'PHONE':'4321098765',
        'PLACE':'RUIZGAV'},
            {'NAME':'ISMAIL',
         'PHONE':'3210987654',
        'PLACE':'OMPURI'},
             {'NAME':'AHAMED',
         'PHONE':'2109876543',
        'PLACE':'GORAKPUR'},
              {'NAME':'MUHAMMED',
         'PHONE':'1098765432',
        'PLACE':'BRINDAPUR'},
               {'NAME':'WALOWITZ',
         'PHONE':'0987654321',
        'PLACE':'PASIDEENA'}]
x=mycol.insert_many(mydict)
type(x)

pymongo.results.InsertManyResult

In [14]:
### READ

In [23]:
y=mycol.find()
list(y)

[{'_id': ObjectId('622446e75cf697b0d5d2dc8e'),
  'NAME': 'GEORGE',
  'PHONE': '9876543210',
  'PLACE': 'AMBOOR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc8f'),
  'NAME': 'PHILIP',
  'PHONE': '8765432109',
  'PLACE': 'THANOOR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc90'),
  'NAME': 'CHRIS',
  'PHONE': '7654321098',
  'PLACE': 'PAMPOOR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc91'),
  'NAME': 'ADITH',
  'PHONE': '6543210987',
  'PLACE': 'MADGAV'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc92'),
  'NAME': 'ROHIT',
  'PHONE': '5432109876',
  'PLACE': 'GURUGAV'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc93'),
  'NAME': 'AJAY',
  'PHONE': '4321098765',
  'PLACE': 'RUIZGAV'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc94'),
  'NAME': 'ISMAIL',
  'PHONE': '3210987654',
  'PLACE': 'OMPURI'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc95'),
  'NAME': 'AHAMED',
  'PHONE': '2109876543',
  'PLACE': 'GORAKPUR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc96'),
  'NAME': 'MUHAMMED',
  'PHONE': '1098765432',
  'PLACE': 'BRINDAPUR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc97'),
  'NAME': 'WALOWITZ',
  'PHONE': '0987654321',
  'PLACE': 'PASIDEENA'}]

In [24]:
# FIND CONTACTS USING NAME

In [27]:
b=mycol.find({'NAME':'ADITH'})# ENTER THE NAME YOU WANT TO SERCH
list(b)

[{'_id': ObjectId('622446e75cf697b0d5d2dc91'),
  'NAME': 'ADITH',
  'PHONE': '6543210987',
  'PLACE': 'MADGAV'}]

In [28]:
# FIND NAME USING CONTACT

In [29]:
c=mycol.find({'PHONE':'6543210987'})#ENTER THE NUMBER YOU WANT TO SERCH
list(c)

[{'_id': ObjectId('622446e75cf697b0d5d2dc91'),
  'NAME': 'ADITH',
  'PHONE': '6543210987',
  'PLACE': 'MADGAV'}]

In [30]:
## UPDATE:(update_one() method using two arguments, query and update)

In [31]:
# UPDATING NAME
query={'NAME':'ADITH'}
update={'$set':{'NAME':'ABIJITH'}}
newvalues=mycol.update_one(query,update)
list(mycol.find())

[{'_id': ObjectId('622446e75cf697b0d5d2dc8e'),
  'NAME': 'GEORGE',
  'PHONE': '9876543210',
  'PLACE': 'AMBOOR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc8f'),
  'NAME': 'PHILIP',
  'PHONE': '8765432109',
  'PLACE': 'THANOOR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc90'),
  'NAME': 'CHRIS',
  'PHONE': '7654321098',
  'PLACE': 'PAMPOOR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc91'),
  'NAME': 'ABIJITH',
  'PHONE': '6543210987',
  'PLACE': 'MADGAV'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc92'),
  'NAME': 'ROHIT',
  'PHONE': '5432109876',
  'PLACE': 'GURUGAV'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc93'),
  'NAME': 'AJAY',
  'PHONE': '4321098765',
  'PLACE': 'RUIZGAV'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc94'),
  'NAME': 'ISMAIL',
  'PHONE': '3210987654',
  'PLACE': 'OMPURI'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc95'),
  'NAME': 'AHAMED',
  'PHONE': '2109876543',
  'PLACE': 'GORAKPUR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc96'),
  'NAME': 'MUHAMMED',
  'PHONE': '1098765432',
  'PLACE': 'BRINDAPUR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc97'),
  'NAME': 'WALOWITZ',
  'PHONE': '0987654321',
  'PLACE': 'PASIDEENA'}]

In [32]:
#UPDATING NUMBER
query={'PHONE':'4321098765'}
update={'$set':{'PHONE':'9999988888'}}
newvalues=mycol.update_one(query,update)
list(mycol.find())

[{'_id': ObjectId('622446e75cf697b0d5d2dc8e'),
  'NAME': 'GEORGE',
  'PHONE': '9876543210',
  'PLACE': 'AMBOOR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc8f'),
  'NAME': 'PHILIP',
  'PHONE': '8765432109',
  'PLACE': 'THANOOR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc90'),
  'NAME': 'CHRIS',
  'PHONE': '7654321098',
  'PLACE': 'PAMPOOR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc91'),
  'NAME': 'ABIJITH',
  'PHONE': '6543210987',
  'PLACE': 'MADGAV'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc92'),
  'NAME': 'ROHIT',
  'PHONE': '5432109876',
  'PLACE': 'GURUGAV'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc93'),
  'NAME': 'AJAY',
  'PHONE': '9999988888',
  'PLACE': 'RUIZGAV'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc94'),
  'NAME': 'ISMAIL',
  'PHONE': '3210987654',
  'PLACE': 'OMPURI'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc95'),
  'NAME': 'AHAMED',
  'PHONE': '2109876543',
  'PLACE': 'GORAKPUR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc96'),
  'NAME': 'MUHAMMED',
  'PHONE': '1098765432',
  'PLACE': 'BRINDAPUR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc97'),
  'NAME': 'WALOWITZ',
  'PHONE': '0987654321',
  'PLACE': 'PASIDEENA'}]

In [33]:
##DELETE:USING delete_one() requires a query parameter which specifies the document to delete.

In [34]:
#delete parameter:NAME

In [35]:
query={'NAME':'ABIJITH'}
mycol.delete_one(query)
list(mycol.find())

[{'_id': ObjectId('622446e75cf697b0d5d2dc8e'),
  'NAME': 'GEORGE',
  'PHONE': '9876543210',
  'PLACE': 'AMBOOR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc8f'),
  'NAME': 'PHILIP',
  'PHONE': '8765432109',
  'PLACE': 'THANOOR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc90'),
  'NAME': 'CHRIS',
  'PHONE': '7654321098',
  'PLACE': 'PAMPOOR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc92'),
  'NAME': 'ROHIT',
  'PHONE': '5432109876',
  'PLACE': 'GURUGAV'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc93'),
  'NAME': 'AJAY',
  'PHONE': '9999988888',
  'PLACE': 'RUIZGAV'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc94'),
  'NAME': 'ISMAIL',
  'PHONE': '3210987654',
  'PLACE': 'OMPURI'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc95'),
  'NAME': 'AHAMED',
  'PHONE': '2109876543',
  'PLACE': 'GORAKPUR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc96'),
  'NAME': 'MUHAMMED',
  'PHONE': '1098765432',
  'PLACE': 'BRINDAPUR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc97'),
  'NAME': 'WALOWITZ',
  'PHONE': '0987654321',
  'PLACE': 'PASIDEENA'}]

In [36]:
#delete parameter :phone

In [37]:
query={'PHONE':'9999988888'}
mycol.delete_one(query)
list(mycol.find())

[{'_id': ObjectId('622446e75cf697b0d5d2dc8e'),
  'NAME': 'GEORGE',
  'PHONE': '9876543210',
  'PLACE': 'AMBOOR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc8f'),
  'NAME': 'PHILIP',
  'PHONE': '8765432109',
  'PLACE': 'THANOOR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc90'),
  'NAME': 'CHRIS',
  'PHONE': '7654321098',
  'PLACE': 'PAMPOOR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc92'),
  'NAME': 'ROHIT',
  'PHONE': '5432109876',
  'PLACE': 'GURUGAV'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc94'),
  'NAME': 'ISMAIL',
  'PHONE': '3210987654',
  'PLACE': 'OMPURI'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc95'),
  'NAME': 'AHAMED',
  'PHONE': '2109876543',
  'PLACE': 'GORAKPUR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc96'),
  'NAME': 'MUHAMMED',
  'PHONE': '1098765432',
  'PLACE': 'BRINDAPUR'},
 {'_id': ObjectId('622446e75cf697b0d5d2dc97'),
  'NAME': 'WALOWITZ',
  'PHONE': '0987654321',
  'PLACE': 'PASIDEENA'}]